
body
{
  background:rgba(0,0,255,0.1);
  font-family:Courier;
}
.wrap{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
  border-radius:2px;
}
.container
{
  background:#FFF;
  text-align: center;
  margin: 0px;
  width: 100%;
}
.img
{

 width:100%;
  margin: 0;
  padding: 0;
}